{{! Page footer }}
<footer class="blog-footer"> <!-- Blog Footer -->
    Copyright © 2015 <a href="http://www.sebalab.org">Sebalab</a> |
    Powerede by </i><a href="https://ghost.org">Ghost</a> -
    <a href="https://github.com/Xnemo/Alpha_T">Alpha_T theme</a>
</footer>
