{{! Page intro }}
<!-- Intro -->
<div class="intro" id="intro">
	<div class="up-intro">
	  <a href="{{@blog.url}}/rss/"><i class="fa fa-rss-square fa-2x"></i></a>
	</div>
	<div class="name">
	  <h1> {{@blog.title}} </h1>
	</div>
	<div class="message">
	  {{@blog.description}}
	</div>	
	<div class="button">
	  <a href="#blog-section" class="btn btn-default">
	  <i class="fa fa-angle-double-down fa-lg"></i>
	  </a>
	</div>
</div> <!-- End Intro -->