{{! Page footer }}
<footer class="blog-footer"> <!-- Blog Footer -->
<div class="container">
	<div class="row social">
		<div class="col-md-8 col-xs-1 col-sm-1">
			<ul class="list-inline">
				<li><a href="https://twitter.com/seba_cata"><i class="fa fa-twitter fa-2x fa-border"></i></a></li>
				<li><a href="https://plus.google.com/117361369194325214164/posts"><i class="fa fa-google-plus fa-2x fa-border"></i></a></li>
				<li><a href="https://github.com/xnemo"><i class="fa fa-github-alt fa-2x fa-border"></i></a></li>
				<li><a href="https://github.com/xnemo"><i class="fa fa-envelope-o fa-2x fa-border"></i></a></li>
			</ul>
		</div>
		<div class="col-md-4 col-xs-1 col-sm-1">
			<div class="license">
                <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Licenza Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" /></a>
			</div>
		</div>
	</div>
</div>
</footer>
