{{! Page footer }}
<footer class="blog-footer"> <!-- Blog Footer -->
<div class="container">
	<div class="row social">
		<div class="col-md-8 col-xs-1 col-sm-1">
			<ul class="list-inline">
				<li><a href="http://twitterr.com"><i class="fa fa-twitter fa-2x fa-border"></i></a></li>
				<li><a href="http://gplus.com"><i class="fa fa-google-plus fa-2x fa-border"></i></a></li>
				<li><a href="http://gihub.com"><i class="fa fa-github-alt fa-2x fa-border"></i></a></li>
			</ul>
		</div>
		<div class="col-md-4 col-xs-1 col-sm-1">
			<div class="license">
				<a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/"><img alt="Licenza Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by-nc/4.0/80x15.png" /></a><br />Quest'opera è distribuita con Licenza <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">Creative Commons</a>.
			</div>
		</div>
	</div>
</div>
</footer>