{{! Post header }}
<div class="post-nav">
	<div class="container">
	  <div class="row">
		 <div class="col-md-4 text-center">
		   <a class="btn btn-primary" href="http://" role="button">
		   <i class="fa fa-home"> Home</i>
		   </a>
		 </div>
		 <div class="col-md-4 text-center">
		   <a class="btn btn-primary" href="http://" role="button">
		   <i class="fa fa-rss"> Subscribe</i>
		   </a>
		 </div>
		 <div class="col-md-4 text-center">
		   <a class="btn btn-primary" href="http://" role="button">
		   <i class="fa fa-angle-double-right"> Next</i>
		   </a>
		 </div>
	  </div>
	</div>
</div>