{{!< default}}

<header class="main-header {{#if @blog.cover}}" style="background-image: url({{@blog.cover}}){{else}}no-cover{{/if}}">
    <div class="main-header-content">
        <div class="title" id="div1" style="display:none;">{{@blog.title}}</div>
        <div class="message" id="div2" style="display:none;">
            <p>{{@blog.description}}</p>
        </div>
    </div>
</header>
