{{!< default}}

<header class="main-header {{#if @blog.cover}}" style="background-image: url({{@blog.cover}}){{else}}no-cover{{/if}}">
    <div class="main-header-content">
        <div class="title animated fadeInUp">{{@blog.title}}</div>
        <div class="message animated fadeInLeft">
            <p>{{@blog.description}}</p>
        </div>
    </div>
</header>
