{{!< default}}

<header class="main-header {{#if @blog.cover}}" style="background-image: url({{@blog.cover}}){{else}}no-cover{{/if}}">
    <div class="main-header-content">
        <div class="title animated fadeInUp">{{@blog.title}}</div>
        <div class="message animated fadeInLeft">
            <p>{{@blog.description}}</p>
        </div>
        <div class="social-buttons animated fadeInRight">
            <ul class="list-inline">
                {{> social-buttons}}
            </ul>
        </div>
        <div class="button-down animated zoomIn">
            <a href="#content" class="btn btn-default animated bounce" data-offset="-45">
                <i class="fa fa-angle-double-down fa-2x"></i>
            </a>
        </div>
    </div>
</header>

{{! Blog Section }}
<main id="content" class="content">
    {{! partials/loop.hbs }}
    {{> "loop" }}
</main>
