html, body {
	margin: 0 auto;
	height: 100%;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
	color: #f38218;
}

hr {
	height: 1px;
	width: 50%;
	background-image: -webkit-linear-gradient(left, rgba(0,0,0,0) 22.3%, rgba(0,0,0,0.20) 50%, rgba(0,0,0,0) 73.6%);
	background-image: -moz-linear-gradient(left, rgba(0,0,0,0) 22.3%, rgba(0,0,0,0.20) 50%, rgba(0,0,0,0) 73.6%);
	background-image: -ms-linear-gradient(left, rgba(0,0,0,0) 22.3%, rgba(0,0,0,0.20) 50%, rgba(0,0,0,0) 73.6%);
	background-image: -o-linear-gradient(left, rgba(0,0,0,0) 22.3%, rgba(0,0,0,0.20) 50%, rgba(0,0,0,0) 73.6%);
	background-image: linear-gradient(to right, rgba(0,0,0,0) 22.3%, rgba(0,0,0,0.20) 50%, rgba(0,0,0,0) 73.6%);
}

code {
	font: italic 18px 'Poiret One', cursive;
	color: #a00000;
}

.main-header {
	height: 100%;
	width: 100%;
	display: table;
	/*min-height: 100%;*/
	background-size: cover;;
	position: relative;
	-moz-box-shadow: 0 0 1px #c9c3c3;
	box-shadow: 0 0 1px #c9c3c3;
}

.main-container {
	padding: 5% 7% 3%;
	font-family: 'Poiret One', cursive;
}

.main-contaoner article {
	position: relative;
	top: 10px;
	right: 20px;
	bottom: 10px;
	left: 20px;
}

.main-container .post {
	font-size: 18px;
	padding: 10px 10% 15px;
}

.main-container .post .post-header {
	padding: 5px 3px;
}

.main-container .post .post-header h2 {
	font-size: 32px;
	letter-spacing: 1px;
	text-align: left;
	font-weight: bold;
	font-style: italic;
	text-indent: 1px;
}

.main-container .post .post-header time {
	padding-left: 10px;
	padding-top: 5px;
	font-style: italic;
	font-size: 14px;
}

.main-container .post .post-full {
	text-indent: 1px;
	word-spacing: 1px;
	padding-top: 10px;
	padding-bottom: 20px;
}

.main-container .post .post-meta {
	font-size: 14px;
	text-indent: 2px;
	letter-spacing: 1px;
}

.main-container .post .post-meta .tags a {
	color:  white;
}

.main-container .post .post-meta .tags a:hover {
	text-decoration: none;
	color: #f38218;
}

.main-container .post .post-meta time {
	padding-right: 10px;
	padding-left: 4px;
}

.main-container .pagination {	
	align-content: center;
	padding-right: 20px;
	padding-left: 20px;
	width: 100%;
}

.post-nav {	
	margin: 15px 15px 0;
	padding-top: 30px;
	padding-right: 4px;
	padding-left: 4px;
}

.post-nav a:hover {
	text-decoration: none;
	color: #f38218;
}

.blog-footer {
	padding-top: 1%;
	background-color: #363F45;
	font-family:'Waiting for the Sunrise', cursive;
}

.blog-footer .social {
	padding-right: 50px;
	padding-left: 50px;
	padding-bottom: 15px;
	padding-top: 15px;
}

.blog-footer .license {
	color: white;
	font-size: 14px;
	letter-spacing: 1px;
	text-align: center;
	padding-right: 50px;
	padding-left: 50px;
	padding-bottom: 15px;
}