/* ********************** *
 * CSS for Alpha_T Theme
 * ********************** */
html, body {
    height: 100%;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
	color: #f38218;
}

hr {
	height: 1px;
	width: 55%;
	background-image: -webkit-linear-gradient(left, rgba(0,0,0,0) 22.3%, rgba(0,0,0,0.20) 50%, rgba(0,0,0,0) 73.6%);
	background-image: -moz-linear-gradient(left, rgba(0,0,0,0) 22.3%, rgba(0,0,0,0.20) 50%, rgba(0,0,0,0) 73.6%);
	background-image: -ms-linear-gradient(left, rgba(0,0,0,0) 22.3%, rgba(0,0,0,0.20) 50%, rgba(0,0,0,0) 73.6%);
	background-image: -o-linear-gradient(left, rgba(0,0,0,0) 22.3%, rgba(0,0,0,0.20) 50%, rgba(0,0,0,0) 73.6%);
	background-image: linear-gradient(to right, rgba(0,0,0,0) 22.3%, rgba(0,0,0,0.20) 50%, rgba(0,0,0,0) 73.6%);
}


/*
 * Boostrap navbar customization
 */
.navbar-default {
    background-color: #363F45;
}

.navbar-default .navbar-brand:hover {
    color: #f38218;
}

.navbar-default .navbar-collapse .icons {
    padding-left: 30px;
    padding-right: 10px;
    padding-top: 8px;
}

.navbar-default .navbar-collapse .icons a {
    padding: 0;
}

.navbar-default .navbar-collapse .icons a:hover {
  color: #f38218;
}



/*
 * Blog header
 */

.main-header {
	position: relative;
	height: 100%;
	width: 100%;
	min-height: 100%;
	background-color: #1C212B;
    background-image: -moz-radial-gradient(center 45deg,circle cover, #38404F, #1C212B);
    background-image: -webkit-gradient(radial, 50% 50%, 0, 50% 50%,800, from(#38404F), to(#1C212B));
    background-image: radial-gradient(center 45deg,circle cover, #38404F, #1C212B);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	/* background-color: #363F45; */
	color: #07264b;
}

.main-header-content {
    position: absolute;
	top: 12%;
	left: 25%;
	right: 25%;
	font-family:'Waiting for the Sunrise', cursive;
    text-align: center;
}

.main-header-content .title {
	font-size: 50px;
	color: #ff8615;
	letter-spacing: 3px;
	text-align: center;
}

.main-header-content .logo {
	padding-top: 2%;
    padding-bottom: 40px;
}

.main-header-content .logo img {
    width: 120px;
    height: 120px;
}

.main-header-content .logo .img-circle {
    border-style: solid;
    border-color: #f38218;
    border-width: 2px;
}

.main-header-content .message {
    padding-top: 7px;
    text-align: center;
	color: lightslategrey;
	font-size: 21px;
	letter-spacing: 2px;
}

.main-header-content .social-buttons {
    padding-top: 35px;
}

.main-header-content .social-buttons a {
    color: transparent;
}

.main-header-content .social-buttons .fa-twitter {
    border-color: #00aced;
	border-style: hidden;
    color: #00aced;
}

.main-header-content .social-buttons .fa-twitter:hover {
    border-style: solid;
	color: #f38218;
	border-width: thin;
	border-radius: 999em;
}

.main-header-content .social-buttons .fa-google-plus {
    border-color: #dd4b39;
	border-style: hidden;
    color: #dd4b39;
}

.main-header-content .social-buttons .fa-google-plus:hover {
    border-style: solid;
	color: #f38218;
	border-width: thin;
	border-radius: 999em;
}

.main-header-content .social-buttons .fa-github-alt {
    border-color: #363F45;
	border-style: hidden;
}

.main-header-content .social-buttons .fa-github-alt:hover {
    border-style: solid;
	color: #f38218;
	border-width: thin;
	border-radius: 999em;
}

.main-header-content .social-buttons .fa-rss {
    border-color: #f38218;
	border-style: hidden;
    color: #f38218;
}

.main-header-content .social-buttons .fa-rss:hover {
    border-style: solid;
	color: whitesmoke;
	border-width: thin;
	border-radius: 999em;
}

.main-header-content .social-buttons .fa-envelope {
    border-color: #0C84B7;
	border-style: hidden;
    color: #0C84B7;
}

.main-header-content .social-buttons .fa-envelope:hover {
    border-style: solid;
	color: #f38218;
	border-width: thin;
	border-radius: 999em;
}

.main-header-content .button-down {
	text-align: center;
	position: relative;
	padding-top: 10%;
	border-color: #463a3a;
}

.main-header-content .button-down .btn-default {
	border-color: #363F45;
	border-style: hidden;
	color: lightslategrey;
	background-color: transparent;
}

.main-header-content .button-down .btn-default:hover {
	border-style: none;
	color: #f38218;
}


/*
 * Main content
 */
.content {
    width: 80%;
    position: relative;
    top: 3%;
    right: -10%;
	left: 10%;
    padding-bottom: 50px;
}

.content .post {
    font-family: 'Poiret One', cursive;
	font-size: 18px;
	padding: 50px 7%;
}

.content .post .post-header {
	padding: 5px 3px;
}

.content .post .post-header h2 {
	font-size: 32px;
	letter-spacing: 1px;
	text-align: left;
	font-weight: bold;
	font-style: italic;
	text-indent: 1px;
}

.content .post .post-header time {
	padding-left: 10px;
	padding-top: 5px;
	font-style: italic;
	font-size: 14px;
}

.content .post .post-meta {
    padding-top: 10px;
	font-size: 14px;
	text-indent: 2px;
	letter-spacing: 1px;
}

.content .post .post-meta .tags a {
	color: white;
}

.content .post .post-meta .tags a:hover {
	text-decoration: none;
	color: #f38218;
}

.content .post .post-meta time {
    padding-top: 10px;
	padding-right: 10px;
	padding-left: 4px;
}

.content .pagination {
	align-content: center;
	padding-right: 20px;
	padding-left: 20px;
	padding-bottom: 10px;
	width: 100%;
}

.content .pagination .page-number {
	padding-right: 12px;
	padding-left: 12px;
}


/*
 * Footer
 */
.blog-footer {
    color: darkgray;
    text-align: center;
    font-size: 11px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #363F45;
    border-top-style: solid;
    border-top-width: thin;
    border-top-color: #ff8615;
}
